# Redirigir de /p/algo a /view.php?id=algo
Options +FollowSymLinks
RewriteEngine On

# Si el request es para /p/(slug) reescribirlo internamente
RewriteRule ^p/([a-zA-Z0-9_-]+)/?$ view.php?id=$1 [L,NC,QSA]

# Prevenir acceso estricto a archivos base de datos (por si se ubican en root)
<FilesMatch "\.sqlite$">
    Require all denied
</FilesMatch>
<FilesMatch "\.sqlite3$">
    Require all denied
</FilesMatch>
<FilesMatch "\.db$">
    Require all denied
</FilesMatch>
